# dependency directories
node_modules/
/app-dist
/dist

# next.js
/.next/
/out/

# production
/build

# env files
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
